<div class="card-content">
    <!-- despliegue de coches -->
    <p><b>Cars are shown in a {{maxKm}}km radius</b></p>
    
    <div *ngFor="let car of cars  ; let i=index">
      <div class="card horizontal" *ngIf="getDistance(car.location.coordinates[0], car.location.coordinates[1]) <= maxKm">
        <div class="card-image flex-column">
          <img class="margin-img" src="http://localhost:3000/{{car.img}}">
          <p class="address"><strong>{{car.location.address}}</strong></p>
          <p class="address">({{getDistance(car.location.coordinates[0], car.location.coordinates[1])}} Km)</p>
        </div>
        <div class="card-stacked">
          <div class="card-content flex-row">
            <div class="info-car flex-column">
              <div>
                <span><b>{{car. brand}} </b></span>
                <span>{{car. model}} </span>
                <span>({{car.year}}) </span>
              </div>
              <div class="flex-row container-gadges">
                <div *ngFor="let gadge of car.gadges">
                    <img src="http://localhost:3000/{{gadge}}" alt="item car">
                </div>
              </div>
            </div>
            <div class="info-car">
                <p>${{car.price | currency:'MXN'}} / hr</p>
            </div>
          </div>
          <div class="card-action">
            <div class="row">
              <p>When do you want to reserve your car?</p>
                <form class="col s12 m12" (ngSubmit)="sendDateForm(myForm, car._id, car.price)" #myForm="ngForm">
                  <div class="row">
                    <div class="input-field col s12 m6">
                        <input type="datetime-local" placeholder="Pick start date" [(ngModel)]="start-car.index" name="startDate" min="{{minDate}}" max="{{maxDate}}"required>
                    </div>
                      <div class="input-field col s12 m6">
                          <input type="datetime-local" placeholder="Pick end date" [(ngModel)]="end-car.index" name="endDate" min="{{minDate}}" max="{{maxDate}}" required>
                      </div>
                    </div>
                    <button class="btn waves-effect waves-light" 
                 type="submit">Reserve</button>
                </form>
              </div>
          </div>
        </div>
      </div><!-- /despliegue de coches -->
    </div>
  </div>
