.container-gadges div{
    margin: 2px;
}
.card-image img{
    width: 80px;
}
.container-gadges{
    margin: 10px 0 0 0;
    border: #eeeeee solid 1px;
    border-radius: 10px;
    padding: 0 5px;
}
.info-car{
    width: 12vw;
    text-align: center;
}

.margin-img {
    margin: 0 10px;
}
.address{
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    font-size: 0.8rem;
    
}
.address strong{
    color: #4db6ac;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}