<div *ngIf="user" class="search-location">
    <div class="container">
      <div class="container">
        <p><b>Search by location: </b></p>
        <div class="input-field col s12">
          <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
            <select name="selectedLocation" materialize="material_select" ngModel>
              <option value="0" disabled selected>Choose your option</option>
              <option value="1" >{{localizacion[0].address}}</option>
              <option value="2">{{localizacion[1].address}}</option>
              <option value="3">{{localizacion[2].address}}</option>
            </select>
            <input class="grey-text #fafafa grey lighten-5 waves-effect waves-light btn" type="submit">
            <!-- #fafafa grey lighten-5 -->
          </form>
        </div>
      </div>
    </div>
  </div>