<app-nav-public></app-nav-public>
<!-- parallax -->
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text text-lighten-1"><b>OWN THE TRIP</b></h1>
      <div class="row center">
        <a href="/signup" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img src="../../assets/images/background-car-girl.jpg" alt="Unsplashed background img 1"></div>
</div>
<!-- /parallax -->
<!-- section 1 -->
<div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>What's MyCar</h4>
          <div class="left-align light border-box">
            <p class="width-ifo-mycar"> Drive cars by the hour or day. Gas & insurance included.</p>
            <p class="width-ifo-mycar">Car sharing saves you hundreds over car ownership.</p>
            <p class="width-ifo-mycar">Choose from sedans, hybrids, vans and more</p>
          </div>
        </div>
      </div>

    </div>
  </div>
<!-- /section 1 -->
<!-- parallax 2 -->
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
      </div>
    </div>
    <div class="parallax"><img src="../../assets/images/background-man-driver.jpg" alt="Unsplashed background img 2"></div>
  </div>
<!-- /parallax 2 -->
<!-- section 2 -->
<div class="row">
  <div class="col s12 m3 padding">
    <div class="icon-block">
      <div><img src="../../assets/images/smartphone.png" alt="smarthphone"></div>
      <h5 class="center">JOIN</h5>
      <p class="light">Apply online. Once approved, we'll send you a card to access vehicles.</p>
    </div>
  </div>

  <div class="col s12 m3 padding">
    <div class="icon-block">
      <div><img src="../../assets/images/car.png" alt="smarthphone"></div>
      <h5 class="center">RESERVE</h5>
      <p class="light">Book a car for as little as 1 hour or as long as 7 days</p>
    </div>
  </div>

  <div class="col s12 m3 padding">
    <div class="icon-block">
      <div><img src="../../assets/images/unlocked.png" alt="smarthphone"></div>
      <h5 class="center">TAP</h5>
      <p class="light">Hold your card to the car's windshield to unlock. that's it! It's all yours..</p>
    </div>
  </div>
  <div class="col s12 m3 padding">
      <div class="icon-block">
        <div><img src="../../assets/images/steering.png" alt="smarthphone"></div>
        <h5 class="center">DRIVE</h5>
        <p class="light">Hit the road. When you're done, park the car in its reserved spot and use your card or the app to lock up</p>
      </div>
    </div>
</div><!-- Icon Section -->
<!--  /Section 2 -->

<!-- footer -->
<app-footer></app-footer>