section {

  min-height: 95vh;
}

agm-map {
    height: 300px;
  }

  .section-padding{
    padding: 20px;
}

.width-five{
    width: 50vw;
    margin: 0 auto;
}

agm-map {
    height: 300px;
  
  }

  .flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.address{
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    font-size: 0.8rem;
    
}
.address strong{
    color: #4db6ac;
}
.card-map-padding{
    padding: 20px;
}
