<app-nav-public></app-nav-public>
<div class="container">
  <div>

    <form class="col s12">
      <div class="size-inputs">
        <div class="input-field col s6 input-center">
          <input id="username" type="text" [(ngModel)]="formInfo.username" name="username" class="validate">
          <label>username</label>
        </div>
      </div>
      <div class="size-inputs">
        <div class="input-field col s6">
          <input id="password"type="password" [(ngModel)]="formInfo.password" name="password">
          <label>Password</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" (click)="sendForm()">
       Sign In
      </button>
    </form>
    <p class="error"> {{ error }} </p>

</div>
</div>
<app-footer></app-footer>